/* Layout related */

html, body {

  overflow: hidden;
}

.Container {

  display: flex;
  flex-direction: row;
  
  height: 100vh;
	overflow: hidden;
}

.Container .LeftPanel {

  flex: 1;
	height: 100%;
}

.Container .LeftPanel .CodeMirror {

  height: 100%;
}

.Container .RightPanel {

  flex: 1;
	height: 100%;

	box-sizing: border-box;

	overflow: auto;

  padding: 1.5rem;
}

.Container .RightPanel .VizBlock svg {

  max-width: 100%;
}

::-webkit-scrollbar {

	width: 0px;
	background: transparent;
}
