::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

.Container {

    display: flex;
    flex-direction: row;
    height: 100vh;

    .LeftPanel {

        flex: 1;
        height: 100%;

        .CodeMirror {

            height: 100%;
            width: 50vw;
        }
    }

    .RightPanel {

        flex: 1;
        height: 100%;
        box-sizing: border-box;
        overflow: auto;
        padding: 1.5rem;
        word-break: break-word;

        &>ol,
        &>ul {

            margin-left: 2rem;
        }

        img {

            max-width: 100%;
        }

        h1 .Emoji {
          width: 2.5rem !important;
          height: 2.5rem !important;
          vertical-align: text-top !important;
          margin-top: 2px !important;
        }

        h2 .Emoji {
          width: 1.7rem !important;
          height: 1.7rem !important;
          vertical-align: text-top !important;
          margin-top: 1px !important;
        }

        h3 .Emoji {
          width: 1.33rem !important;
          height: 1.33rem !important;
          vertical-align: text-top !important;
          margin-top: 0.5px !important;
        }

        h4 .Emoji {
          width: 1rem !important;
          height: 1rem !important;
          vertical-align: text-top !important;
        }

        .Emoji {
          width: 1rem !important;
          height: 1rem !important;
          vertical-align: text-top !important;
        }

        .VizBlock {
            text-align: center;
            overflow: hidden;
        }

        .MermaidBlock {
            text-align: center;
            overflow: hidden;
        }

        h1>code,h2>code,h3>code,h4>code,li>code,p>code {
            padding: .2em .4em;
            font-size: 0.85em;
            border-radius: 0.2em;
        }

        table {

            border-collapse: collapse;
            width: 100%;
            margin-top: 1rem;
            margin-bottom: 1rem;

            th,
            td {
                padding: 0.5rem;

            }
        }
    }

    &.light {
        @import "highlight.js/scss/atelier-savanna-light.scss";

        .LeftPanel {

            border-right: 1px solid rgb(221, 221, 221);
        }

        .RightPanel {

            background: #fff;
            color: #000;

            hr {
                color: rgb(82, 100, 96);
            }

            h1>code,h2>code,h3>code,h4>code,li>code,p>code {
                background: #ecf4ee;
            }

            table {
                border: none !important;

                th,
                td {
                    border: 0.1rem solid rgb(82, 100, 96);
                    background: #ecf4ee;
                }
            }
        }
    }

    &.dark {
        @import "highlight.js/scss/solarized-dark.scss";

        .RightPanel {

            a {
                color: #61bfc1;

                &:visited {
                    color: #466b6c;
                }
            }

            blockquote p {
                color: #666;
            }

            hr {
                border: 0.5px solid rgba(255, 255, 255, 0.1);
            }

            h1>code,h2>code,h3>code,h4>code,li>code,p>code {
                background: #002b36;
            }

            table {

                th,
                td {
                    border: 0.1rem solid #5a6a72;
                    background: #0b2a35;
                }
            }

            .VizBlock {

                background: #0b2a35;
            }
        }
    }
}

.Container.Exported {
  height: auto;
}
